$contentMaxWidth: 710px;

.post-header {
    border-bottom: 1px solid $dividerColor;
    margin: 0 auto;
    max-width: $contentMaxWidth;
    padding-top: 0.5em;
    text-align: center;
}

.hentry {
    overflow: hidden;
}

.entry-info {
    padding-top: 1.1em;
    text-align: center;
}

.entry-title {
    line-height: 1.1;
    font-size: 2em;
}

// Contains the author, date published, and comment count/link
.entry-meta {
    font-size: 0.75em;
    margin-top: 0.5em;

    .published {
        margin: 0 0.2em;

        &:before, &:after {
            content: "•";
            color: darken($dividerColor, 40);
            font-size: 0.7em;
        }

        &:before {
            margin-right: 0.5em;
        }

        &:after {
            margin-left: 0.5em;
        }
    }
}

.entry-content {
    border-top: 1px solid $dividerColor;
    line-height: 1.4;
    margin: 1em auto;
    max-width: $contentMaxWidth;
    padding-top: 1.4em;

    img {
        max-width: 100%;
    }

    p {
        margin-bottom: 1.2em;
    }
}