%font-family-serif {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

%font-family-sans {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

%font-family-monospace {
    font-family: Droid Sans Mono, Lucidia Console, Courier New, Courier, monospace;
}