<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Readability Blog</title>
        <meta name="description" content="A place for the Readability to share their experiences while making the web a more comfortable place to read.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="/css/thekingofwhat.css">
    </head>
    <body>
        <h1>The Readability Blog</h1>

        {{ content }}


    </body>
</html>